# dependencies
node_modules/

# production build
dist/

# environment variables
# .env

# misc
*.log

.env
*.sql
service-account-key.json
testApi.ts

Dockerfile
docker-compose.yml
.dockerignore
Huntpuk_API_context.txt
src/controllers/testApi.ts
